
@keyframes hidemessage {
    to{
        top:-200px;
        opacity: 0;
    }
}

.messages{
    display: flex;
    justify-content: center;
    padding: 16px;
    position: absolute;
    width: 350px;
    height: 100px;
    color: rgb(255, 255, 255);
    top: 10px;
    right: 5px;
    opacity: 1;
    z-index: 1;

    animation: hidemessage 300ms 4s ease-out forwards;
}

.messages.error{
    
    background-color: #DC4747;
    border-color: #f5c6cb;
    color:white ;
    opacity: 1;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.messages.sucess{
    background: #01B12A ;
    opacity: 1;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.messages.info{
    background: #4e68d0;
    opacity: 1;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 28px;
}


.admin-home-containter.action-sucesss{
    background-color: white;
    padding: 32px 24px;
    margin: 32px auto;
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,.6);
    border-radius: 4px;
    width: 40%;
}

.action-sucesss{
    padding: 0;
    padding-bottom: 112px;
    text-align: center;
    margin: auto;
}

.action-sucesss .success-lottie{
    height: 200px;
}

.action-sucesss h2 {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: #6558C3;
}

.action-sucesss a{
    
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #131316;
    font-weight: bold;
    margin-top: 20px;
    
}

/**=== ERRO **===**/

.admin-home-containter.action-error{
    background-color: white;
    padding: 32px 24px;
    margin: 32px auto;
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,.6);
    border-radius: 4px;
    width: 40%;
}

.action-error{
    padding: 0;
    padding-bottom: 112px;
    text-align: center;
    margin: auto;
}

.action-error .error-lottie{
    height: 200px;
}

.action-error h2 {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: #6558C3;
}

.action-error a{
    
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #131316;
    font-weight: bold;
    margin-top: 20px;
    
}