
  {% extends "layout.njk" %} 

  {% block header %}
        <header>
                 <div class="header-content">
                    <div class="logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                
                    <div class="links" >                
                        <div>
                            <a href="/about">Sobre</a>
                            <a href="/recipes">Receitas</a>
                            <a href="/chefs">Chefs</a>
                        </div>

                            <div class="login">
                                <a href="/admin/users/login">Entrar</a>
                            </div>
                        </div>

                    <div class="filter-recipies">
                            <form action="/recipes" method="GET">
                                <input type="text"
                                    name="filter"
                                    value="{{filter}}"
                                    placeholder="Buscar receitas...">

                                <button type="submit">Filtrar</button>
                            </form>
                    </div>

                                
                                    
                                
                 </div>   

         </header>             
  {% endblock %}

  {% block head %}

  {% endblock %}

  {% block content%}
  
        <main>
            <section class="home">
                <div class="panel">
                    <div class="info">
                        <div class="title">
                            Ops!
                        </div>
                        <div class="description">
                            <span>Página não encontrada!</span>
                            <span>Voltar para à página<a href="/"> Inicial</a></span>
                        </div>
                    </div>
                    <div class="img">
                        <img src="/img/page-notfound.svg" alt="">
                    </div>
                </div>

            </section>

            <script src="/script.js"></script>
    </main>

  {% endblock %}

  

        

    
